
.navbar{
    padding: 10px;
    background-color: #7DA0CA;
    margin-bottom: 20px;
    border-radius: 8px;
}
.navbarcontent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link{
    display: flex;
    gap:20px;
    align-items: center;
    
}
.pagebtnone{
    padding: 5px 5px;
    background-color: #052659;
    color:white;
    border:none;
    border-radius: 5px;
    font-size: 12px;

}